<section class="mx-auto w-full max-w-7xl px-4 py-4">
  <div
    class="flex flex-col space-y-4 md:flex-row md:items-center md:justify-between md:space-y-0 gap-2"
  >
    <div>
      <h2 class="text-lg font-semibold">General Passwords</h2>
      <p class="mt-1 text-sm text-gray-700">
        This is a list of all general passwords. You can add new general
        passwords, edit or delete existing ones.
      </p>
    </div>
    <div class="flex grow gap-2 md:justify-end">
      <input
        class="flex h-9 w-[250px] rounded-md bg-gray-100 px-3 py-2 text-sm placeholder:text-gray-600 focus:outline-none focus:ring-1 focus:ring-black/30 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
        type="text"
        placeholder="Serach"
        (input)="searchTextChanged(searchGeneralPasswords)"
        #searchGeneralPasswords
      />
    </div>
    <div>
      <button
        type="button"
        (click)="addNewGeneralPassword()"
        class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
      >
        Add New
      </button>
    </div>
  </div>
  <div class="mt-6 flex flex-col">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden border border-gray-200 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="px-4 py-3.5 text-left text-sm font-normal text-gray-700"
                >
                  <span>Website</span>
                </th>
                <th
                  scope="col"
                  class="px-12 py-3.5 text-left text-sm font-normal text-gray-700"
                >
                  Username
                </th>
                <th
                  scope="col"
                  class="px-4 py-3.5 text-left text-sm font-normal text-gray-700"
                >
                  Password
                </th>
                <th scope="col" class="relative px-4 py-3.5">
                  <span class="sr-only">Password Options</span>
                </th>
                <th scope="col" class="relative px-4 py-3.5">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr
                *ngFor="let generalPassword of generalPasswords; let i = index"
              >
                <td class="whitespace-nowrap px-4 py-4">
                  <div class="flex items-center">
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        {{ generalPassword.website }}
                      </div>
                    </div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-12 py-4">
                  <div class="text-sm text-gray-900">
                    {{ generalPassword.username }}
                  </div>
                </td>
                <td class="whitespace-nowrap px-4 py-4">
                  <div class="text-sm text-gray-900">
                    <input
                      readonly="readonly"
                      disabled
                      type="password"
                      style="background-color: transparent; border: none"
                      value=".........."
                      #passwordField
                    />
                  </div>
                </td>
                <td class="whitespace-nowrap">
                  <button
                    class="btn btn-transparent rounded-circle"
                    (click)="
                      togglePasswordVisibility(
                        passwordField,
                        generalPassword.password,
                        hiddenIcon
                      )
                    "
                  >
                    <fa-icon
                      [icon]="passwordHiddenImg"
                      size="lg"
                      #hiddenIcon
                    ></fa-icon>
                  </button>
                  <button
                    class="btn btn-transparent rounded-circle"
                    (click)="copyPassword(generalPassword.password)"
                  >
                    <fa-icon [icon]="passwordCopyImg" size="lg"></fa-icon>
                  </button>
                </td>

                <td
                  class="whitespace-nowrap px-4 py-4 space-x-1 text-right text-sm font-medium"
                >
                  <button
                    class="text-gray-700"
                    (click)="onEdit(generalPassword._id)"
                  >
                    Edit</button
                  >&nbsp;
                  <button
                    class="text-gray-700 text-red-600"
                    (click)="onDelete(generalPassword._id)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="totalPages > 1" class="flex items-center justify-center pt-6">
    <a
      *ngIf="currentPage != 1 && totalPages > 0"
      routerLink="/general-passwords"
      [queryParams]="{ page: currentPage - 1 }"
      class="mx-1 text-sm font-semibold text-gray-900"
    >
      <span class="hidden lg:block">← Previous</span>
      <span class="block lg:hidden">←</span>
    </a>
    <a
      *ngIf="startPage <= totalPages"
      routerLink="/general-passwords"
      [queryParams]="{ page: startPage }"
      class="mx-1 flex items-center rounded-md border border-gray-400 px-3 py-1 text-gray-900 hover:scale-105"
      [style]="
        startPage == currentPage
          ? 'background-color: black;color:white'
          : 'background-color: white;color:black'
      "
    >
      {{ startPage }}
    </a>
    <a
      *ngIf="startPage + 1 <= totalPages"
      routerLink="/general-passwords"
      [queryParams]="{ page: startPage + 1 }"
      class="mx-1 flex items-center rounded-md border border-gray-400 px-3 py-1 text-gray-900 hover:scale-105"
      [style]="
        startPage + 1 == currentPage
          ? 'background-color: black;color:white'
          : 'background-color: white;color:black'
      "
    >
      {{ startPage + 1 }}
    </a>
    <a
      *ngIf="startPage + 2 <= totalPages"
      routerLink="/general-passwords"
      [queryParams]="{ page: startPage + 2 }"
      class="mx-1 flex items-center rounded-md border border-gray-400 px-3 py-1 text-gray-900 hover:scale-105"
      [style]="
        startPage + 2 == currentPage
          ? 'background-color: black;color:white'
          : 'background-color: white;color:black'
      "
    >
      {{ startPage + 2 }}
    </a>
    <a
      *ngIf="startPage + 3 <= totalPages"
      routerLink="/general-passwords"
      [queryParams]="{ page: startPage + 3 }"
      class="mx-1 flex items-center rounded-md border border-gray-400 px-3 py-1 text-gray-900 hover:scale-105"
      [style]="
        startPage + 3 == currentPage
          ? 'background-color: black;color:white'
          : 'background-color: white;color:black'
      "
    >
      {{ startPage + 3 }}
    </a>
    <a
      *ngIf="currentPage < totalPages"
      routerLink="/general-passwords"
      [queryParams]="{ page: currentPage + 1 }"
      class="mx-2 text-sm font-semibold text-gray-900"
    >
      <span class="hidden lg:block">Next →</span>
      <span class="block lg:hidden">→</span>
    </a>
  </div>
</section>
