<div style="display: flex; justify-content: center; margin: 50px">
  <div style="display: flex; flex-direction: column; flex: 1 1; gap: 1rem">
    <div style="display: flex; justify-content: space-between">
      <h2>Saved General Passwords</h2>
      <button class="btn btn-success" (click)="addNewGeneralPassword()">
        Add New
      </button>
    </div>
    <hr />
    <table
      class="table table-borderless"
      style="table-layout: fixed; width: 100%"
    >
      <thead>
        <tr>
          <th scope="col">Website</th>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let generalPassword of generalPasswords; let i = index">
          <td>{{ generalPassword.website }}</td>
          <td>{{ generalPassword.username }}</td>
          <td>
            <input
              readonly="readonly"
              disabled
              type="password"
              style="background-color: transparent; border: none"
              value=".........."
              #passwordField
            />
          </td>
          <td style="display: flex">
            <button
              style="flex-basis: 60px"
              class="btn btn-transparent rounded-circle"
              (click)="
                togglePasswordVisibility(
                  passwordField,
                  generalPassword.password,
                  hiddenIcon
                )
              "
            >
              <fa-icon
                [icon]="passwordHiddenImg"
                size="lg"
                #hiddenIcon
              ></fa-icon>
            </button>
            <button
              style="flex-basis: 60px"
              class="btn btn-transparent rounded-circle"
              (click)="copyPassword(generalPassword.password)"
            >
              <fa-icon [icon]="passwordCopyImg" size="lg"></fa-icon>
            </button>
          </td>
          <td>
            <button
              class="btn btn-primary"
              (click)="onEdit(generalPassword.id)"
            >
              Edit</button
            >&nbsp;
            <button
              class="btn btn-danger"
              (click)="onDelete(generalPassword.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
