@media screen and (max-width: 900px) {
  tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1pt solid grey;
  }

  .action-cell {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  thead {
    display: none;
  }
}
