<div style="display: flex; justify-content: space-between">
  <h2>Saved General Passwords</h2>
  <button class="btn btn-success" (click)="addNewGeneralPassword()">
    Add New
  </button>
</div>
<hr />
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Website</th>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let generalPassword of generalPasswords; let i = index">
      <td>{{ generalPassword.website }}</td>
      <td>{{ generalPassword.username }}</td>
      <td>
        <input
          readonly="readonly"
          disabled
          type="password"
          style="background-color: transparent; border: none"
          value=".........."
          #passwordField
        />
      </td>
      <td>
        <button
          appToggleVisibility
          class="btn btn-transparent rounded-circle"
          (click)="
            togglePasswordVisibility(passwordField, generalPassword.password)
          "
        >
          <img
            src="https://firebasestorage.googleapis.com/v0/b/savepass-b0a5f.appspot.com/o/view%20(2).png?alt=media&token=ebe6e7d4-a09e-4487-8adc-39934564d0ea"
            width="24px"
            height="24px"
          />
        </button>
        <button
          class="btn btn-transparent rounded-circle"
          (click)="copyPassword(generalPassword.password)"
        >
          <img
            src="https://firebasestorage.googleapis.com/v0/b/savepass-b0a5f.appspot.com/o/copying.png?alt=media&token=581cbff2-6f56-4852-bcfb-d9d86903a804"
            width="24px"
            height="24px"
          />
        </button>
      </td>
      <td>
        <button class="btn btn-primary" (click)="onEdit(generalPassword.id)">
          Edit</button
        >&nbsp;
        <button class="btn btn-danger" (click)="onDelete(generalPassword.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
