<nav class="navbar navbar-expand-lg navbar-light bg-light p-2">
  <a class="navbar-brand" style="cursor: pointer">SavePass</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link active" style="cursor: pointer">Authenticate</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" style="cursor: pointer">General-Passwords</a>
    </li>
  </ul>
  <ul class="navbar-nav justify-content-end">
    <li class="nav-item">
      <img
        src="../shared/resources/my-passport-photo.jpg"
        alt="..."
        class="rounded-circle"
      />
    </li>
  </ul>
</nav>
