<section>
  <div
    class="flex items-center justify-center px-4 py-10 sm:px-6 sm:py-16 lg:px-8 lg:py-24"
  >
    <div class="xl:mx-auto xl:w-full xl:max-w-sm 2xl:max-w-md">
      <h2 class="text-center text-2xl font-bold leading-tight dark:text-white">
        {{
          loginMode ? "Sign in to your account" : "Sign up to create account"
        }}
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600 dark:text-gray-300">
        {{ loginMode ? "Don't have an account?" : "Already have an account?" }}
        <button
          (click)="SwitchAuthMode(form)"
          class="font-semibold transition-all duration-200 hover:underline dark:text-white"
        >
          {{ loginMode ? "Create a free account" : "Sign In" }}
        </button>
      </p>
      <form #form="ngForm" class="mt-8">
        <div class="space-y-5">
          <div>
            <label
              for="username"
              class="text-base font-medium text-gray-900 dark:text-gray-200"
            >
              Username
            </label>
            <div class="mt-2">
              <input
                class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50 dark:text-white"
                placeholder="Username"
                id="username"
                required
                ngModel
                name="username"
                #username="ngModel"
              />
              <div
                *ngIf="!username.valid && username.touched"
                style="color: red"
              >
                * This field is required.
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-center justify-between">
              <label
                for="password"
                class="text-base font-medium text-gray-900 dark:text-gray-200"
              >
                Password
              </label>
            </div>
            <div class="mt-2">
              <input
                class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50 dark:text-white"
                type="password"
                placeholder="Password"
                id="password"
                required
                ngModel
                name="password"
                (input)="setIsPasswordAndConfrimPasswordMaching(form)"
                #password="ngModel"
              />
              <div
                *ngIf="!password.valid && password.touched"
                style="color: red"
              >
                * This field is required.
              </div>
            </div>
          </div>
          <div *ngIf="!loginMode">
            <div class="flex items-center justify-between">
              <label
                for="confirmPassword"
                class="text-base font-medium text-gray-900 dark:text-gray-200"
              >
                Confirm Password
              </label>
            </div>
            <div class="mt-2">
              <input
                class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50 dark:text-white"
                type="password"
                placeholder="Confirm Password"
                id="confirmPassword"
                required
                ngModel
                name="confirmPassword"
                (input)="setIsPasswordAndConfrimPasswordMaching(form)"
                #confirmPassword="ngModel"
              />
            </div>
            <div
              *ngIf="!confirmPassword.valid && confirmPassword.touched"
              style="color: red"
            >
              * This field is required.
            </div>
            <div
              *ngIf="
                !isPasswordAndConfrimPasswordMaching &&
                password.valid &&
                confirmPassword.valid
              "
              style="color: red"
            >
              * Confirm password and password does not match.
            </div>
          </div>
          <div>
            <button
              type="button"
              [class]="
                ((
                  loginMode
                    ? !form.valid
                    : !form.valid || !isPasswordAndConfrimPasswordMaching
                )
                  ? 'cursor-not-allowed '
                  : '') +
                'inline-flex w-full items-center justify-center rounded-md bg-slate-900 dark:bg-sky-500 px-3.5 py-2.5 hover:bg-black/80 dark:hover:bg-sky-500/80 font-semibold leading-7 text-white'
              "
              [disabled]="
                loginMode
                  ? !form.valid
                  : !form.valid || !isPasswordAndConfrimPasswordMaching
              "
              (click)="onAuthenticationClick(form)"
            >
              {{ loginMode ? "Get started" : "Create Account" }}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="ml-2"
              >
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
