<div style="display: flex; justify-content: center">
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 50px;
      flex: 0 500px;
    "
  >
    <h2 style="text-align: center">
      {{ loginMode ? "Login" : "Sign Up" }}
    </h2>
    <hr />
    <form #form="ngForm">
      <div class="form-group">
        <label for="username" style="margin-top: 30px">Username</label>
        <input
          class="form-control"
          id="username"
          required
          ngModel
          name="username"
          #username="ngModel"
        />
        <div *ngIf="!username.valid && username.touched" style="color: red">
          * This field is required.
        </div>
        <label for="password" style="margin-top: 30px">Password</label>
        <input
          class="form-control"
          type="password"
          id="password"
          required
          ngModel
          name="password"
          (input)="setIsPasswordAndConfrimPasswordMaching(form)"
          #password="ngModel"
        />
        <div *ngIf="!password.valid && password.touched" style="color: red">
          * This field is required.
        </div>
        <div *ngIf="!loginMode">
          <label for="confirmPassword" style="margin-top: 30px"
            >Confirm Password</label
          >
          <input
            class="form-control"
            type="password"
            id="confirmPassword"
            required
            ngModel
            name="confirmPassword"
            (input)="setIsPasswordAndConfrimPasswordMaching(form)"
            #confirmPassword="ngModel"
          />
          <div
            *ngIf="!confirmPassword.valid && confirmPassword.touched"
            style="color: red"
          >
            * This field is required.
          </div>
          <div
            *ngIf="
              !isPasswordAndConfrimPasswordMaching &&
              password.valid &&
              confirmPassword.valid
            "
            style="color: red"
          >
            * Confirm password and password does not match.
          </div>
        </div>
      </div>
      <br />
      <div
        style="
          display: flex;
          gap: 1rem;
          justify-content: center;
          margin-top: 5px;
        "
      >
        <button
          [disabled]="
            loginMode
              ? !form.valid
              : !form.valid || !isPasswordAndConfrimPasswordMaching
          "
          class="btn btn-success"
          (click)="onAuthenticationClick(form)"
        >
          {{ loginMode ? "Login" : "Create Account" }}
        </button>
        <button class="btn btn-primary" (click)="SwitchAuthMode(form)">
          {{ !loginMode ? "Back to login" : "Sign Up" }}
        </button>
      </div>
    </form>
  </div>
</div>
