<section>
  <div
    class="flex items-center justify-center px-4 py-10 sm:px-6 sm:py-16 lg:px-8 lg:py-24"
  >
    <div class="xl:mx-auto xl:w-full xl:max-w-sm 2xl:max-w-md">
      <h2 class="text-center text-2xl font-bold leading-tight dark:text-white">
        {{
          loginMode ? "Sign in to your account" : "Sign up to create account"
        }}
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600 dark:text-gray-300">
        {{ loginMode ? "Don't have an account?" : "Already have an account?" }}
        <button
          (click)="SwitchAuthMode(form)"
          class="font-semibold transition-all duration-200 hover:underline dark:text-white"
        >
          {{ loginMode ? "Create a free account" : "Sign In" }}
        </button>
      </p>
      <form
        #form="ngForm"
        class="mt-8"
        (ngSubmit)="onAuthenticationClick(form)"
      >
        <div class="space-y-5">
          <div>
            <label
              for="username"
              class="text-base font-medium text-gray-900 dark:text-gray-200"
            >
              Username
            </label>
            <div class="mt-2">
              <input
                class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50 dark:text-white"
                placeholder="Username"
                id="username"
                email
                required
                ngModel
                name="username"
                #username="ngModel"
              />
              <div
                *ngIf="username.errors?.['required'] && username.touched"
                style="color: red"
              >
                * This field is required.
              </div>
              <div
                *ngIf="username.errors?.['email'] && username.touched"
                style="color: red"
              >
                * Invalid Email Address.
              </div>
            </div>
          </div>
          <div *ngIf="!passkeySignIn || !loginMode">
            <div>
              <div class="flex items-center justify-between">
                <label
                  for="password"
                  class="text-base font-medium text-gray-900 dark:text-gray-200"
                >
                  Password
                </label>
              </div>
              <div class="mt-2">
                <div class="flex flex-row">
                  <input
                    class="flex h-10 w-full rounded-l-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50 dark:text-white"
                    [type]="hidePassword ? 'password' : 'text'"
                    placeholder="Password"
                    id="password"
                    required
                    minlength="12"
                    ngModel
                    name="password"
                    (input)="setIsPasswordAndConfrimPasswordMaching(form)"
                    #password="ngModel"
                  />
                  <button
                    type="button"
                    (click)="togglePasswordVisibility()"
                    class="flex h-10 w-10 items-center justify-center rounded-r-md border-b border-r border-t border-gray-300 bg-transparent"
                  >
                    <fa-icon
                      [icon]="passwordHiddenImg"
                      size="lg"
                      class="dark:text-white"
                    ></fa-icon>
                  </button>
                </div>
                <password-strength-meter
                  *ngIf="!loginMode"
                  class="psm__progress-bar-item"
                  [minPasswordLength]="12"
                  [password]="form.getControl(password).getRawValue()"
                ></password-strength-meter>
                <div
                  *ngIf="password.errors?.['required'] && password.touched"
                  style="color: red"
                >
                  * This field is required.
                </div>
                <div
                  *ngIf="password.errors?.['minlength'] && password.touched"
                  style="color: red"
                >
                  * Password must be at least 12 characters long.
                </div>
              </div>
            </div>
            <div *ngIf="!loginMode">
              <div class="flex items-center justify-between">
                <label
                  for="confirmPassword"
                  class="text-base font-medium text-gray-900 dark:text-gray-200"
                >
                  Confirm Password
                </label>
              </div>
              <div class="mt-2">
                <div class="flex flex-row">
                  <input
                    class="flex h-10 w-full rounded-l-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50 dark:text-white"
                    [type]="hidePassword ? 'password' : 'text'"
                    placeholder="Confirm Password"
                    id="confirmPassword"
                    required
                    ngModel
                    name="confirmPassword"
                    (input)="setIsPasswordAndConfrimPasswordMaching(form)"
                    #confirmPassword="ngModel"
                  />
                  <button
                    type="button"
                    (click)="togglePasswordVisibility()"
                    class="flex h-10 w-10 items-center justify-center rounded-r-md border-b border-r border-t border-gray-300 bg-transparent"
                  >
                    <fa-icon
                      [icon]="passwordHiddenImg"
                      size="lg"
                      class="dark:text-white"
                    ></fa-icon>
                  </button>
                </div>
              </div>
              <div
                *ngIf="!confirmPassword.valid && confirmPassword.touched"
                style="color: red"
              >
                * This field is required.
              </div>
              <div
                *ngIf="
                  !isPasswordAndConfrimPasswordMaching &&
                  password.valid &&
                  confirmPassword.valid
                "
                style="color: red"
              >
                * Confirm password and password does not match.
              </div>
            </div>
          </div>
          <div>
            <div
              *ngIf="showLoadingSpinner"
              class="flex items-center justify-center px-3.5 py-2.5"
            >
              <fa-icon
                class="text-slate-900 dark:text-sky-500"
                [icon]="loadingSpinnerIcon"
                [spin]="true"
                size="2xl"
              >
              </fa-icon>
            </div>
            <button
              *ngIf="!showLoadingSpinner"
              type="submit"
              [class]="
                ((
                  loginMode
                    ? !form.valid
                    : !form.valid || !isPasswordAndConfrimPasswordMaching
                )
                  ? 'cursor-not-allowed '
                  : '') +
                'inline-flex w-full items-center justify-center rounded-md bg-slate-900 dark:bg-sky-500 px-3.5 py-2.5 hover:bg-black/80 dark:hover:bg-sky-500/80 font-semibold leading-7 text-white'
              "
              [disabled]="
                loginMode
                  ? !form.valid
                  : !form.valid || !isPasswordAndConfrimPasswordMaching
              "
            >
              <svg
                *ngIf="passkeySignIn && loginMode"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                class="mr-1 h-7 w-7"
                viewBox="0 0 216 216"
                style="enable-background: new 0 0 216 216"
                xml:space="preserve"
              >
                <style type="text/css">
                  .st0 {
                    fill: none;
                  }
                  .st1 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #ffffff;
                  }
                  .st2 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #dad9d9;
                  }
                  .st3 {
                    fill: #ffffff;
                  }
                </style>
                <g id="Layer_1"></g>
                <g id="Isolation_Mode">
                  <rect class="st0" width="216" height="216" />
                  <g>
                    <g>
                      <path
                        class="st1"
                        d="M172.32,96.79c0,13.78-8.48,25.5-20.29,29.78l7.14,11.83l-10.57,13l10.57,12.71l-17.04,22.87l-12.01-12.82
				v-25.9v-22.56c-10.68-4.85-18.15-15.97-18.15-28.91c0-17.4,13.51-31.51,30.18-31.51C158.81,65.28,172.32,79.39,172.32,96.79z
				 M142.14,101.61c4.02,0,7.28-3.4,7.28-7.6c0-4.2-3.26-7.61-7.28-7.61s-7.28,3.4-7.28,7.61
				C134.85,98.21,138.12,101.61,142.14,101.61z"
                      />
                      <path
                        class="st2"
                        d="M172.41,96.88c0,13.62-8.25,25.23-19.83,29.67l6.58,11.84l-9.73,13l9.73,12.71l-17.03,23.05v-25.9v-32.77
				v-26.87c4.02,0,7.28-3.41,7.28-7.6c0-4.2-3.26-7.61-7.28-7.61V65.28C158.86,65.28,172.41,79.43,172.41,96.88z"
                      />
                      <path
                        class="st1"
                        d="M120.24,131.43c-9.75-8-16.3-20.3-17.2-34.27H50.8c-10.96,0-19.84,9.01-19.84,20.13v25.17
				c0,5.56,4.44,10.07,9.92,10.07h69.44c5.48,0,9.92-4.51,9.92-10.07V131.43z"
                      />
                      <path
                        class="st3"
                        d="M73.16,91.13c-2.42-0.46-4.82-0.89-7.11-1.86C57.4,85.64,52.36,78.95,50.73,69.5
				c-1.12-6.47-0.59-12.87,2.03-18.92c3.72-8.6,10.39-13.26,19.15-14.84c5.24-0.94,10.46-0.73,15.5,1.15
				c7.59,2.82,12.68,8.26,15.03,16.24c2.38,8.05,2.03,16.1-1.56,23.72c-3.72,7.96-10.21,12.23-18.42,13.9
				c-0.68,0.14-1.37,0.27-2.05,0.41C78,91.13,75.58,91.13,73.16,91.13z"
                      />
                    </g>
                  </g>
                </g>
              </svg>

              {{
                loginMode
                  ? passkeySignIn
                    ? "Sign in with a Passkey"
                    : "Get started"
                  : "Create Account"
              }}
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="ml-2"
              >
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </button>
          </div>
        </div>
      </form>
      <p
        *ngIf="loginMode && !showLoadingSpinner"
        class="mt-4 text-center text-sm text-gray-600 dark:text-gray-300"
      >
        {{
          passkeySignIn
            ? " Prefer using a password? "
            : " Prefer using a passkey? "
        }}
        <button
          (click)="SwitchSignInMode()"
          class="font-semibold transition-all duration-200 hover:underline dark:text-white"
        >
          {{ passkeySignIn ? "Sign in with password" : "Sign in with passkey" }}
        </button>
      </p>
    </div>
  </div>
</section>
