<div
  *ngIf="getAuthenticatorInProgress"
  class="flex items-center justify-center space-y-5"
>
  <fa-icon
    class="text-slate-900 dark:text-sky-500"
    [icon]="spinnerIcon"
    [spin]="true"
    size="2xl"
  >
  </fa-icon>
</div>
<form
  *ngIf="!getAuthenticatorInProgress"
  #form="ngForm"
  (ngSubmit)="modalComponentRef.instance.submit()"
>
  <div class="space-y-5">
    <div class="flex flex-col items-center justify-center gap-3">
      <div
        class="text-center text-lg font-bold text-gray-900 dark:text-gray-200"
      >
        Scan this QR code with your authenticator app
      </div>
      <qrcode
        [qrdata]="secretQrCode"
        [width]="256"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
      <div class="break-all text-base font-medium text-pink-400">
        {{ secret }}
      </div>
    </div>
    <div *ngIf="!isAuthenticatorEnabled">
      <div class="flex items-center justify-between">
        <label
          for="token"
          class="text-base font-medium text-gray-900 dark:text-gray-200"
        >
          Enter the resulting 6 digit verification code from the app
        </label>
      </div>
      <div class="mt-2">
        <div class="flex flex-row">
          <input
            class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50 dark:text-white"
            id="token"
            required
            minlength="6"
            maxlength="6"
            ngModel
            name="token"
            #token="ngModel"
          />
        </div>
      </div>
      <div
        *ngIf="token.errors?.['required'] && (token.touched || formSubmitted)"
        style="color: red"
      >
        * This field is required.
      </div>
      <div
        *ngIf="token.errors?.['minlength'] && (token.touched || formSubmitted)"
        style="color: red"
      >
        * Verification code should be 6 digits long.
      </div>
    </div>
    <input type="submit" class="hidden" />
  </div>
</form>
