<div #alertPopUp>
  <div
    *ngIf="displayAlert"
    style="
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    "
  >
    <fa-icon
      [icon]="alertIcon"
      animation="beat"
      size="2xl"
      style="color: white; --fa-animation-duration: 2s"
    ></fa-icon>
    <p
      style="
        margin: 7px;
        color: white;
        display: inline-block;
        word-break: break-word;
      "
    >
      {{ alertmessage }}
    </p>
  </div>
</div>
