<section>
  <div
    class="flex items-center justify-center px-4 py-10 sm:px-6 sm:py-16 lg:px-8 lg:py-24"
  >
    <div class="xl:mx-auto xl:w-full xl:max-w-sm 2xl:max-w-md">
      <h2 class="text-center text-2xl font-bold leading-tight dark:text-white">
        {{ editMode ? "Edit" : "Add New" }} General Password
      </h2>
      <form #form="ngForm" class="mt-8">
        <div class="space-y-5">
          <div>
            <label
              for="website"
              class="text-base font-medium text-gray-900 dark:text-gray-200"
            >
              Website
            </label>
            <div class="mt-2">
              <input
                class="flex h-10 w-full dark:text-white rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                id="website"
                required
                [ngModel]="generalPassword.website"
                name="website"
                #website="ngModel"
              />
              <div *ngIf="!website.valid && website.touched" style="color: red">
                * This field is required.
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-center justify-between">
              <label
                for="username"
                class="text-base font-medium text-gray-900 dark:text-gray-200"
              >
                Username
              </label>
            </div>
            <div class="mt-2">
              <input
                class="flex h-10 w-full dark:text-white rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                id="username"
                required
                [ngModel]="generalPassword.username"
                name="username"
                #username="ngModel"
              />
              <div
                *ngIf="!username.valid && username.touched"
                style="color: red"
              >
                * This field is required.
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-center justify-between">
              <label
                for="Password"
                class="text-base font-medium text-gray-900 dark:text-gray-200"
              >
                Password
              </label>
            </div>
            <div class="mt-2">
              <input
                class="flex h-10 w-full dark:text-white rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                type="password"
                id="password"
                required
                [ngModel]="generalPassword.password"
                name="password"
                #password="ngModel"
              />
            </div>
            <div *ngIf="!password.valid && password.touched" style="color: red">
              * This field is required.
            </div>
          </div>
          <div class="flex flex-row justify-center gap-3">
            <button
              type="button"
              [disabled]="!form.valid"
              (click)="saveGeneralPassword(form)"
              class="cursor-not-allowed rounded-md bg-slate-900 dark:bg-sky-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 dark:hover:bg-sky-500/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
            >
              Save
            </button>
            <button
              type="button"
              (click)="onCancel()"
              class="rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-600/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
