<h2>{{ editMode ? "Edit" : "Add New" }} General Password</h2>
<hr />
<form #form="ngForm">
  <div class="form-group">
    <label for="website">Website</label>
    <input
      class="form-control"
      id="website"
      required
      [ngModel]="generalPassword.website"
      name="website"
    />
    <label for="username">Username</label>
    <input
      class="form-control"
      id="username"
      required
      [ngModel]="generalPassword.username"
      name="username"
    />
    <label for="password">Password</label>
    <input
      class="form-control"
      type="password"
      id="password"
      required
      [ngModel]="generalPassword.password"
      name="password"
    />
  </div>
  <br />
  <button class="btn btn-success" (click)="saveGeneralPassword(form)">
    Save</button
  >&nbsp;
  <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
</form>
