<div style="display: flex; justify-content: center">
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 50px;
      flex: 0 500px;
    "
  >
    <h2 style="text-align: center">
      {{ editMode ? "Edit" : "Add New" }} General Password
    </h2>
    <hr />
    <form #form="ngForm">
      <div class="form-group">
        <label for="website">Website</label>
        <input
          class="form-control"
          id="website"
          required
          [ngModel]="generalPassword.website"
          name="website"
          #website="ngModel"
        />
        <div *ngIf="!website.valid && website.touched" style="color: red">
          * This field is required.
        </div>
        <label for="username" style="margin-top: 30px">Username</label>
        <input
          class="form-control"
          id="username"
          required
          [ngModel]="generalPassword.username"
          name="username"
          #username="ngModel"
        />
        <div *ngIf="!username.valid && username.touched" style="color: red">
          * This field is required.
        </div>
        <label for="password" style="margin-top: 30px">Password</label>
        <input
          class="form-control"
          type="password"
          id="password"
          required
          [ngModel]="generalPassword.password"
          name="password"
          #password="ngModel"
        />
        <div *ngIf="!password.valid && password.touched" style="color: red">
          * This field is required.
        </div>
      </div>
      <br />
      <div
        style="
          display: flex;
          gap: 1rem;
          justify-content: center;
          margin-top: 5px;
        "
      >
        <button
          [disabled]="!form.valid"
          class="btn btn-success"
          (click)="saveGeneralPassword(form)"
        >
          Save
        </button>
        <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
