<form #form="ngForm" (ngSubmit)="modalComponentRef.instance.submit()">
  <div class="space-y-5">
    <div>
      <div class="flex items-center justify-between">
        <label
          for="Password"
          class="text-base font-medium text-gray-900 dark:text-gray-200"
        >
          Password
        </label>
      </div>
      <div class="mt-2">
        <div class="flex flex-row">
          <input
            class="flex h-10 w-full rounded-l-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50 dark:text-white"
            [type]="hidePassword ? 'password' : 'text'"
            id="password"
            required
            minlength="12"
            ngModel
            name="password"
            #password="ngModel"
          />
          <button
            type="button"
            (click)="togglePasswordVisibility()"
            class="flex h-10 w-10 items-center justify-center rounded-r-md border-b border-r border-t border-gray-300"
          >
            <fa-icon
              [icon]="passwordHiddenImg"
              size="lg"
              class="dark:text-white"
            ></fa-icon>
          </button>
        </div>
      </div>
      <div
        *ngIf="password.errors?.['required'] && (password.touched || formSubmitted)"
        style="color: red"
      >
        * This field is required.
      </div>
      <div
        *ngIf="password.errors?.['minlength'] && (password.touched || formSubmitted)"
        style="color: red"
      >
        * Password must be at least 12 characters long.
      </div>
    </div>
    <input type="submit" class="hidden" />
  </div>
</form>
