<!-- Main modal -->
<div
  class="closeModal fixed left-0 top-0 z-[2] flex h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden bg-black/40"
  (click)="close($event)"
>
  <div
    class="relative z-50 mx-4 flex max-h-full basis-[671px] transform-none flex-col py-4"
  >
    <!-- Modal content -->
    <div
      class="bgColor shado relative flex flex-col overflow-hidden rounded-lg"
    >
      <!-- Modal header -->
      <div
        class="flex items-start justify-between rounded-t border-b p-4 dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          {{ title }}
        </h3>
        <button
          type="button"
          class="closeModal ml-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="defaultModal"
        >
          <svg
            class="closeModal h-3 w-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              class="closeModal"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="closeModal sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="relative space-y-6 overflow-y-auto p-6">
        <ng-container #dynamicComponentContainer></ng-container>
      </div>
      <!-- Modal footer -->
      <div
        class="flex items-center space-x-2 rounded-b border-t border-gray-200 p-6 dark:border-gray-600"
      >
        <div
          *ngIf="submissionInProgress"
          class="flex items-center justify-center px-3.5 py-2.5"
        >
          <fa-icon
            class="text-slate-900 dark:text-sky-500"
            [icon]="loadingSpinnerIcon"
            [spin]="true"
            size="2xl"
          >
          </fa-icon>
        </div>
        <button
          *ngIf="!submissionInProgress"
          data-modal-hide="defaultModal"
          type="button"
          (click)="submit()"
          class="rounded-md bg-slate-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black dark:bg-sky-500 dark:hover:bg-sky-500/80"
        >
          {{ submitButtonName }}
        </button>
        <button
          data-modal-hide="defaultModal"
          type="button"
          class="closeModal rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-600/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
        >
          {{ closeButtonName }}
        </button>
      </div>
    </div>
  </div>
</div>
