<section>
  <div
    class="flex items-center justify-center px-4 py-10 sm:px-6 sm:py-16 lg:px-8 lg:py-24"
  >
    <div class="xl:mx-auto xl:w-full xl:max-w-sm 2xl:max-w-md">
      <div class="flex items-center justify-center px-3.5 py-4">
        <fa-icon
          class="text-slate-900 dark:text-sky-500"
          [icon]="closedLockIcon"
          size="4x"
        >
        </fa-icon>
      </div>
      <h2 class="text-center text-xl font-bold leading-tight dark:text-white">
        SavePass is locked. Verify your password to continue.
      </h2>
      <form #form="ngForm" class="mt-8" (ngSubmit)="unlock(form)">
        <div *ngIf="username" class="mb-2.5 text-gray-500 dark:text-gray-400">
          Logged in as {{ username }}
        </div>
        <div class="space-y-5">
          <div>
            <div class="flex items-center justify-between">
              <label
                for="Password"
                class="text-base font-medium text-gray-900 dark:text-gray-200"
              >
                Password
              </label>
            </div>
            <div class="mt-2">
              <div class="flex flex-row">
                <input
                  class="flex h-10 w-full rounded-l-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50 dark:text-white"
                  [type]="hidePassword ? 'password' : 'text'"
                  id="password"
                  required
                  ngModel
                  name="password"
                  #password="ngModel"
                />
                <button
                  type="button"
                  (click)="togglePasswordVisibility()"
                  class="flex h-10 w-10 items-center justify-center rounded-r-md border-b border-r border-t border-gray-300"
                >
                  <fa-icon
                    [icon]="passwordHiddenImg"
                    size="lg"
                    class="dark:text-white"
                  ></fa-icon>
                </button>
              </div>
            </div>
            <div *ngIf="!password.valid && password.touched" style="color: red">
              * This field is required.
            </div>
          </div>
          <div
            *ngIf="unlockStarted"
            class="flex items-center justify-center px-3.5 py-2.5"
          >
            <fa-icon
              class="text-slate-900 dark:text-sky-500"
              [icon]="loadingSpinnerIcon"
              [spin]="true"
              size="2xl"
            >
            </fa-icon>
          </div>
          <div
            *ngIf="!unlockStarted"
            class="flex flex-row justify-center gap-3"
          >
            <button
              type="submit"
              [disabled]="!form.valid"
              class="flex cursor-not-allowed items-center justify-center gap-2 rounded-md bg-slate-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black dark:bg-sky-500 dark:hover:bg-sky-500/80"
            >
              <fa-icon class="text-white" [icon]="openLockIcon"> </fa-icon>
              Unlock
            </button>
            <button
              type="button"
              (click)="logout()"
              class="rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-600/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600"
            >
              Log out
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
